
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient( hsl(225, 100%, 98%), hsl(0, 0%, 100%)); 
    /* background: linear-gradient(hsl(232, 19%, 15%), hsl(228, 12%, 44%)); */
    height: 100vh;
}

body.active{
background-color: white;
}


.header{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
height: 10vh;
}
.topsites{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.site{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:250px;
    background-color: hsl(227, 47%, 96%);
    border-radius: 10px;
    margin: auto  10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.site hr{
    background-color: blue;
    height: 5px;
    
}
.overview{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    background-color:  hsl(227, 47%, 96%);
    cursor: pointer;
    padding: 20px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.status{
display: grid;
grid-template-columns:repeat(2,1fr) ;
grid-template-rows: 1fr 1fr;
height: 150px;
background-color:  hsl(227, 47%, 96%);
place-items: center;
cursor: pointer;
transition: all ease-in-out 0.3s;
}

.status:hover{
    opacity:1;
    background-color: rgb(58, 58, 60);
}
.site:hover{
    opacity:1;
    background-color: rgb(58, 58, 60); 
}
.dgt{
    font-size: bolder;
    font-size: 32px;
    color: black;
}
.text{
    color:  hsl(230, 17%, 14%);
}
.toggle-button{
    width: 30px;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    background-color:  hsl(125, 72%, 41%);
}
.dot{
    border-radius: 20px;
    width: 15px;
    height: 15px;
    padding: 10px;
    background-color:black;
    cursor: pointer;
}

